h1 {text-align:center;
  color:black}
#PLL {
  position: relative;
  left: 200px;
}
#OLL{
  background-image: url('https://thumb.ac-illust.com/68/68cccda26a8fc5921ade6c98a0af4c3d_t.jpeg');
}
.container{
  margin: 0 auto;
  max-width: 940px;
  padding: 0 20px;
  position: relative;
  background-color: ghostwhite;
  padding: 1px;
  border-radius: 100px
}
.ca{
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  background-color:hsl(101, 78%, 41%);
  padding: 0px;
  letter-spacing:200px;

}
.Gan{
  text-align:center;
  color:black;

}
.button {
  background-color: hsl(101, 78%, 41%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 200px;
}
.button:hover{
  background-color: hsl( 240, 100%, 50% )
}

  }
}
#F2L{
  position: relative;
  left: 200px;
}
